  /* (en) Global reset of paddings and margins for all HTML elements */
  * { margin:0; padding: 0; }

  /* (en) Correction: margin/padding reset caused too small select boxes. */
  option { padding-left: 0.4em; } /* LTR */
  select { padding: 1px; }

 /**
  * (en) Global fix of the Italics bugs in IE 5.x and IE 6
  *
  * @bugfix
  * @affected   IE 5.x/Win, IE6
  * @css-for    IE 5.x/Win, IE6
  * @valid      yes
  */
  * html body * { overflow:visible; }
  * html iframe, * html frame { overflow:auto; }
  * html frameset { overflow:hidden; }

  /* (en) Forcing vertical scrollbars in Netscape, Firefox and Safari browsers */
  /* (de) Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern */
  html { height: 100%; margin-bottom: 1px; }
  body {
    /* (en) Fix for rounding errors when scaling font sizes in older versions of Opera browser */
    font-size: 100.01%;

    /* (en) Standard values for colors and text alignment */
    color: #000;
    background: #fff;
    text-align: left; /* LTR */
  }

  /* (en) Clear borders for <fieldset> and <img> elements */
  /* (de) Rahmen für <fieldset> und <img> Elemente löschen */
  fieldset, img { border: 0 solid; }

  /* (en) new standard values for lists, blockquote and cite */
  /* (de) Neue Standardwerte für Listen & Zitate */
  ul, ol, dl { margin: 0 0 1em 1em } /* LTR */
  li {
    margin-left: 0.8em; /* LTR */
    line-height: 1.5em;
  }

  dt { font-weight: bold; }
  dd { margin: 0 0 1em 0.8em; } /* LTR */

  blockquote { margin: 0 0 1em 0.8em; } /* LTR */

  blockquote:before, blockquote:after,
  q:before, q:after { content: ""; }

 /*------------------------------------------------------------------------------------------------------*/

 /**
  * @section base layout | Basis Layout
  * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
  *
  * |-------------------------------|
  * | #header                       |
  * |-------------------------------|
  * | #col1   | #col3     | #col2   |
  * | 200 px  | flexible  | 200px   |
  * |-------------------------------|
  * | #footer                       |
  * |-------------------------------|
  */

  /* (en) Backup for correct positioning */
  /* (de) Absicherung korrekte Positionierung */
  #header, #nav_bar, #main, #footer { clear:both; }

 /*------------------------------------------------------------------------------------------------------*/

    #body1 {
		background: #fff url(../images/layout/bg_aussen.gif) repeat top left;
		padding: 0;
	}
	#body2 {
		background: #fff url(../images/layout/bg_banner.jpg) repeat-x top left;
		padding: 0;
		border-top: 1px #004666 solid;
	}
	#body3 {
		background: #fff url(../images/layout/bg_nav.gif) repeat top left;
		padding: 0;
		z-index: 10;
		position: relative;
		border-top: 1px #004666 solid;
	}
	#body4 {
		background: #fff url(../images/layout/bg_aussen.gif) repeat	top left;
		padding: 0;
		border-top: 1px #004666 solid;
		border-bottom: 1px #004666 solid;
	}
	#body5 {
		background: #fff;
		padding : 0;
		clear: both;
	}

	.page_margins {
		margin: 0 auto;
		width: 1000px;
		border-left: 1px #004666 solid;
		border-right: 1px #004666 solid;
		z-index: 1;
	}
	.page {
		padding: 0;
	}

	#banner {
		height: 150px;
		background: url(../images/layout/bg_banner.gif) repeat;
	}

	#bannerfoto {
		position: absolute;
		margin-left: 220px;
		width: 780px;
		height: 150px;
	}

	#logo {
		position: absolute;
		margin-left: 10px;
		margin-top: 38px;
		width: 200px;
		height: 75px;
		z-index: 2;
	}

/* floats einschließen in #main */
	#main {
		background: url(../images/layout/bg_content.gif) repeat;
		width: 100%;
		padding: 0;
		clear:both;
	}

#main_content {
  padding: 25px 10px;
  font-family: 'Roboto Slab', serif;
}

#main_content a {
  text-decoration: none;
}

#main_content p {
  margin-top: 5px;
}

#main_content h2 {
  margin-top: 15px;
}

#main_content h3 {
  margin-top: 10px;
}

#main_content h4 {
  margin-top: 5px;
}

.image {
  text-align: center;
  margin: 8px;
}

.shadow {
  box-shadow: 10px 10px 5px #888888;
}

#page_title {
  padding: 5px;
  padding-right:10px;
  text-align: right;
  color: #336699;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 30px;
}

#nav_bar{
  font-weight: bold;
  font-family: "Montserrat", serif;
  font-size: 14px;
}

#nav {
  padding: 2px;
  text-align: right;
}

#nav a, #backnav a {
  color: #336699;
  text-decoration: none;
}

#backnav {
  padding: 2px;
  float: left;
}

pre {
  border: dotted 1px;
  width: 88%;
  margin-left: 5%;
  margin-top: 5px;
  background: #fff url(../images/layout/bg_aussen.gif) repeat	top left;
  padding: 5px 1%;
}

table {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
  border-collapse: collapse;
}
table.bash {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
table.bash td {
  border-top: 1px solid black;
  border-collapse: collapse;
  padding-left: 25px;
  height: 25px;
}
table.bash tr:nth-child(even) {
}
table.bash tr:nth-child(odd){
  background: #fff url(../images/layout/bg_aussen.gif) repeat	top left;
}
table.bash tr td:first-child {
  width: 25%;
  border-right: dashed 1px black;
}

table.describe td, th {
  border: 1px solid black;
  padding-left: 5px;
  height: 40px;
}
table.describe th {
  background: #fff url(../images/layout/bg_aussen.gif) repeat	top left;
}
table.describe tr td:first-child, tr th:first-child {
  width: 35%;
}
