html, body {
  font-family: 'Muli', sans-serif;
  color: #37474f;
  height: 100%;
  width: 100%;
}

kbd {
  background-color: #fff;
  color: #37474f;
  font-family: 'Coda', cursive;
}

.slide_title {
  margin-bottom: 2rem;
}

/* HEADER */
header {
  height: 8vh;
  color: #90a4ae;
}

header div a img {
  margin-right: 2rem;
}

/* FOOTER */
footer {
  justify-content: space-around;
  height: 4vh;
}
footer h6 {
  padding-top: 0.5rem;
  color: #90a4ae;
}

/* CAROUSEL */
#carousel {
  height: calc(100% - 12vh);
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#slides {
  flex: 0 0 100%;
  padding: 2rem;
}

#slides .fa-chevron-right,
#slides .fa-chevron-left {
  display: block;
  color: #d0d3d4;
  font-size: 3rem;
  text-shadow: .6rem .3rem .7rem #90a4ae;
}

#slides .change_slide {
  opacity: 0;
}
#slides .change_slide:hover {
  opacity: 1;
}

/* front_page */
#front_page, #slides .tp_slide{
  margin-top: 8rem;
  text-align: center;
}
#front_page h1 {
  margin-bottom: 5rem;
  font-size: 5.5rem;
}

/* title page */
#slides .tp_slide h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
#slides .tp_slide h2 {
  font-size: 2.5rem;
  margin: 2rem;
}

/* description slide */
#slides .desc_slide {
  text-align: left;
  margin-top: 8rem;
  margin-left: 8rem;
}
#slides .desc_slide h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
#slides .desc_slide h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
}
#slides .desc_slide ul {
  font-size: 2rem;
  list-style-type: circle;
}

@media screen and (max-width: 1600px) {
  #slides .desc_slide {
    margin-top: 4rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #slides .desc_slide {
    margin-top: 3rem;
    margin-left: 1rem;
  }
}

@media screen and (max-height: 770px) {
  #front_page, #slides .tp_slide {
    margin-top: 2.5rem;
  }
  #slides .desc_slide {
    margin-top: 1rem;
  }
}
